<?xml version="1.0"?>
<config>
    <modules>
        <Space48_NewsletterSignup>
            <version>0.1.0</version>
        </Space48_NewsletterSignup>
    </modules>
    <global>
        <models>
            <space48_newslettersignup>
                <class>Space48_NewsletterSignup_Model</class>
            </space48_newslettersignup>
            <checkout>
                <rewrite>
                    <type_onepage>Space48_NewsletterSignup_Model_Checkout_Type_Onepage</type_onepage>
                </rewrite>
            </checkout>
            <newslettersignup>
                <class>Space48_NewsletterSignup_Model</class>
            </newslettersignup>
        </models>
        <blocks>
            <space48_newslettersignup>
                <class>Space48_NewsletterSignup_Block</class>
            </space48_newslettersignup>
        </blocks>
        <helpers>
            <space48_newslettersignup>
                <class>Space48_NewsletterSignup_Helper</class>
            </space48_newslettersignup>
        </helpers>
        <events>
            <checkout_type_onepage_save_order_after>
                <observers>
                    <space48_newslettersignup>
                        <type>singleton</type>
                        <class>space48_newslettersignup/observer</class>
                        <method>updateSubscription</method>
                    </space48_newslettersignup>
                </observers>
            </checkout_type_onepage_save_order_after>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <space48_newslettersignup>
                    <file>newslettersignup.xml</file>
                </space48_newslettersignup>
            </updates>
        </layout>
    </frontend>
</config>